body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 2.5rem;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

a::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 1s;
}

a:hover::before {
    transform: translateY(0);
}

a:hover {
    color: #fff;
}